altgraph==0.17.4
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
packaging==24.1
pefile==2023.2.7
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
pyTelegramBotAPI==4.23.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.3.0
soupsieve==2.6
telebot==0.0.5
urllib3==2.2.3
